.header {
    background-color: #8cb1b9;
    color: #ffffff;
    padding: 1em;
    box-shadow: rgba(33, 35, 38, 0.835) 0px 10px 10px -10px;
}

.header h1 {
    font-size: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1, p {
    margin: 0;
}

.nav p {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 760px) {
    .nav {
        flex-direction: column;
    }
}